.border-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 50px;
  z-index: -1;

  animation: forwards ease-in fade-in 10s;
}

.celtic-border {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.border-up {
  animation: infinite linear celtic-border-scroll-up 10s;
}

.border-down {
  animation: infinite linear celtic-border-scroll 10s;
}

.celtic-tile {
  position: absolute;
  top: 0;
}

@keyframes celtic-border-scroll {
  from {
    top: 0;
  }
  to {
    top: 270px;
  }
}

@keyframes celtic-border-scroll-up {
  from {
    top: 270px;
  }
  to {
    top: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
