* {
  padding: 0;
  margin: 0;
  color: white;
}

html {
  --logo-size: 10rem;
  --fs-xl: 1.5rem;
  --fs-400: 2rem;
  --fs-300: 1rem;
  --fs-200: 1rem;

  --gallery-sizing: 14rem;

  background-color: #161616;

  font-family: "Ramabhadra", sans-serif;
  font-weight: 400;
  font-style: normal;

  scrollbar-color: #161616 #222222;

  scroll-behavior: smooth;

  text-size-adjust: none;
}

header {
  color: white;

  background-color: #0a0a0a;
  padding: 3 3rem;

  font-size: var(--fs-xl);
  font-family: "Saira Stencil One", sans-serif;
  font-style: normal;

  text-transform: uppercase;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  z-index: 400;
}

h1 {
  font-weight: 100 !important;
}

.header-logo {
  width: var(--logo-size);
}

li,
p {
  color: hsl(0, 0%, 81%);
  font-size: var(--fs-300);
}

.formatted-section {
  margin: 3rem;
  margin-inline: max(3rem, 12vw);
}

h2 {
  border-bottom: #4b4b4b 2px solid;
  margin-bottom: 0.5rem;
  line-height: 3ch;

  font-size: var(--fs-400);
}

.banner-container {
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner-image {
  opacity: 0.6;
  height: 100vh;
}

.banner-mobile {
  display: none;
}

.split {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
}

li {
  margin-left: 2ch;
}

.video-clips {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
  gap: 1rem;

  padding-top: 1rem;
}

.video-clips > * {
  width: 100%;
  aspect-ratio: 1.75 / 1;

  -webkit-box-shadow: 5px 2px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 2px 11px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 2px 11px -1px rgba(0, 0, 0, 0.75);

  border: unset;
}

.audio-tracks > * {
  width: 100%;
  border: unset;
  height: 32px;
}
.audio-tracks > iframe * {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

a {
  cursor: pointer;
}
a:link {
  text-decoration: none;
}

a:visited {
  color: rgb(13, 207, 13);
}

a:hover {
  text-decoration: underline;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 50rem) {
  .about-section {
    grid-template-columns: min-content 2fr;
  }
}

.profile-picture-container {
  height: 20rem;
  width: fit-content;
  margin-inline: auto;
  border-radius: 3px;

  align-self: center;
}

.profile-picture-container > img {
  width: auto;
  height: 100%;
}

.gallery-figure {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  gap: 0.5rem;
}

.gallery-figure > div:last-child {
  flex: 4;
}

.gallery-figure > img {
  object-fit: cover;
  flex: 1;
  width: auto;
  max-height: var(--gallery-sizing);

  cursor: pointer;
}

.gallery-figure > img:hover {
  opacity: 0.5;
}

/* @media (max-width: 50rem) {
  .gallery-figure > img {

    object-fit:contain;
    flex: 1;
    width: auto;
    max-height: 15rem;
    min-height: 10rem;
  }
  
} */

footer {
  background-color: #0a0a0a;

  display: block;

  -webkit-box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.75);

  padding: 2rem;

  display: flex;
  justify-content: space-around;
}

footer * {
  font-size: var(--fs-200);
}

#scrollDown {
  position: absolute;
  bottom: 5rem;
  left: calc(50% - 2.5rem);

  height: 5rem;
  width: 5rem;

  background-color: unset;
  border: unset;

  cursor: pointer;

  animation: forwards shake 1s;
}

#scrollUp > *,
#scrollDown > * {
  width: 100%;
  height: 100%;
}

#scrollUp {
  transform: rotateZ(180deg);

  position: fixed;
  bottom: 10rem;
  right: 2rem;
  height: 3rem;
  width: 3rem;

  border: unset;

  cursor: pointer;

  animation: forwards shakeup 300ms;

  background-color: hsl(0, 0%, 16%);
  border-radius: 1.5rem;
}

#scrollUp:hover {
  background-color: hsl(0, 0%, 21%);
}

.border-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 50px;
  z-index: -1;

  animation: forwards ease-in fade-in 10s;
}

.celtic-border {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.border-up {
  animation: infinite linear celtic-border-scroll-up 10s;
}

.border-down {
  animation: infinite linear celtic-border-scroll 10s;
}

.celtic-tile {
  position: absolute;
  top: 0;
}

@media (max-width: 15cm) {
  html {
    --logo-size: 100%;
    --fs-xl: 1.5rem;
    --fs-400: 2rem;
    --fs-300: 0.8rem;
    --fs-200: 0.5rem;

    --gallery-sizing: 10rem;
  }

  header,
  #scrollDown {
    display: none;
  }

  .banner-container {
    height: auto;
  }

  .banner-image {
    display: none;
  }

  .banner-mobile {
    display: block;
    width: 100%;
  }

  .gallery-figure > img {
    max-height: 10rem;
  }
}

@keyframes shake {
  0% {
    transform: rotateZ(15deg);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  75% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes shakeup {
  0% {
    transform: rotateZ(180deg);
  }
  50% {
    transform: rotateZ(155deg);
  }
  75% {
    transform: rotateZ(195deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

@keyframes celtic-border-scroll {
  from {
    top: 0;
  }
  to {
    top: 270px;
  }
}

@keyframes celtic-border-scroll-up {
  from {
    top: 270px;
  }
  to {
    top: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
